extends layouts/main

block content
	main.section 
		.container
			.level 
				.level-left
					.level-item 
						a.button(href="/") Back
			article.content 
				h1#Supports Supports
				p.
					Supports help to hold up what you are printing.
					They can be very useful.
					However, sometimes you may not need to use them.
					The best time to use supports is when what you are printing has portions where plastic is floating.
					This is not good - the printer can only print on top of things, not air!
					Supports add material below what the printer is printing to make sure everything stays where it is supposed to.
